.app {
  display: flex;
  flex-direction: column;
}

nav {
  background: white;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 999;
  color: black;
  border-bottom: 0.2px solid lightgray;
}

.screen {
  flex: 1;
  display: flex;
}

.left {
  width: 20%;
  padding: 10px;
  position: sticky;
  top: 80px;
  bottom: 0;
  z-index: 101;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left__top {
  display: flex;
  flex-direction: column;
}

.left__top .links {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: grey;
  margin-bottom: 10px;
}

.left__top p {
  margin-left: 10px;
}

.left__bottom {
  margin-top: auto;
  display: flex;
}

.left__bottom a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  margin-bottom: 10px;
}

.left__bottom p {
  margin-left: 10px;
}

.middle {
  width: 80%;

  padding: 10px;
}

.right {
  width: 20%;

  position: sticky;
  top: 80px;
  bottom: 0;
  z-index: 101;
  right: 0;
  top: 0;
  height: 100vh;
}

/* Additional styling for links */
a {
  display: block;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .screen {
    flex-direction: flex;
  }

  .left {
    width: 100%;
    position: static;
    top: auto;
    bottom: auto;
    height: auto;
  }

  .right {
    width: 100%;
    position: static;
    top: auto;
    bottom: auto;
    height: auto;
  }

  .middle {
    width: 100%;
  }
}
